<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Result without SQL:</p>
<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.firstName}" />
        <td th:text="${student.lastName}" />
    </tr>
</table>

<p>Result with raw SQL:</p>
<table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    <tr th:each="student: ${studentsQuery}">
        <td th:text="${student.firstName}" />
        <td th:text="${student.lastName}" />
    </tr>
</table>

</body>
</html>